<% if (query.success) { %>
  <div class="alert alert-success" style="margin-bottom: 1rem;"><%= query.success %></div>
<% } %>
<% if (query.error) { %>
  <div class="alert alert-danger" style="margin-bottom: 1rem;"><%= query.error %></div>
<% } %>
